<h4>Mina anställningar</h4>
<!-- The Timeline -->      
<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block" >
        <div class="cd-timeline-img cd-picture">
        </div>

        <div data-aos="fade-left" class="cd-timeline-content">
            <h2>Saft Batteries</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Inhouse Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Oktober 2019 - Nu
              </span>
            </div>
            <p>Inhouse-utvecklare bland annat för att driva digitalisering av batterifabriken vidare.</p> 
            <button  class="pulse" onclick="showDialog(1)">Tryck för mer info</button>                              
            <ul class="content-skills">
            <li>Javascript</li>
            <li>Node.JS</li>
            <li>.NET</li>
            <li>JAVA</li>
            <li>JScript.NET</li>
            <li>Vue</li>
            <li>SQL</li>
            <li>Navicura Flow</li>
            <li>M3</li>
            <li>MFiles</li>
            </ul>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div  data-aos="fade-right" class="cd-timeline-content">
            <h2>Sweco Position</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                System Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Oktober 2017 - Oktober 2019
              </span>
            </div>
            <p>Arbetat som konsult för systemutveckling främst inom GIS, BIM och Webb.</p>
            <button  class="pulse" onclick="showDialog(2)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>Javascript</li>
            <li>Node.JS</li>
            <li>.NET</li>
            <li>GIS</li>
            <li>BIM</li>
            <li>Augmented Reality</li>
            <li>Bigdata</li>
            <li>SQL</li>                    
            <li>3D</li>     
            <li>WebGL</li>
            <li>VR</li>     
            <li>IOT</li>    
            <li>Azure</li>  
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div data-aos="fade-left" class="cd-timeline-content">
            <h2>Botek Systems</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                System Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                December 2013 - Oktober 2017
              </span>
            </div>
            <p>Arbetade med att planera och utveckla en helt ny IOT-plattform vilken inkluderar både hårdvara och de olika applikationer som byggde på datan som inhämtades.</p>
            <button  class="pulse" onclick="showDialog(3)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>.NET</li>
            <li>WCF</li>
            <li>Continuous Delivery</li>
            <li>Linux</li>
            <li>IOT</li>
            <li>GIS</li>
            <li>Bigdata</li>
            <li>Rutthantering</li>
            <li>ASP.NET</li>
            <li>Kendo</li>
            <li>MariaDB</li>
            <li>Android</li>
            <li>Xamarin</li>
            <li>Inbyggdasystem</li>     
            <li>Integrationer</li>
            <li>SQL</li>
            <li>Agilt</li>
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div data-aos="fade-right" class="cd-timeline-content">
            <h2>Sigma</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                System Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Augusti 2013 - December 2013
              </span>
            </div>
            <p>Arbetade vidare på mitt konsultuppdrag hos kund som jag hade sedan VistIT gått i konkurs.</p>
            <button  class="pulse" onclick="showDialog(4)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>C++11</li>
            <li>Integrationer</li>
            <li>ActiveMQ</li>
            <li>Git</li>
            <li>Scrum</li>
            <li>Agilt</li>
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div data-aos="fade-left" class="cd-timeline-content">
            <h2>Vist IT</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                System Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Mars 2008 - Augusti 2013
              </span>
            </div>
            <p>Arbetade som konsult inom systemutveckling och databaser.</p>
            <button  class="pulse" onclick="showDialog(5)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>.NET</li>
            <li>ASP.NET</li>
            <li>Integrationer</li>
            <li>PLSQL</li>
            <li>Java</li>
            <li>Android</li>
            <li>Ruby</li>
            <li>C++</li>
            <li>TSQL</li>
            <li>Git</li>
            <li>OpenCL/CUDA</li>
            <li>Scrum</li>
            <li>Agilt</li>
            <li>Testdrivet</li>
            <li>Continuous Delivery</li>
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div data-aos="fade-right" class="cd-timeline-content">
            <h2>Sogeti</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                System Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                2005 - 2008
              </span>
            </div>
            <p>Arbetade som konsult inom systemutveckling och databaser.</p>
            <button  class="pulse" onclick="showDialog(6)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>PLSQL</li>
            <li>Java</li>
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div data-aos="fade-left" class="cd-timeline-content">
            <h2>Stonebrix</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                System Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                2004 - 2005
              </span>
            </div>
            <p>Arbetade som konsult inom systemutveckling och databaser. Företaget är en fortsättning och ombildning av företaget Rapid Information.</p>
            <button  class="pulse" onclick="showDialog(7)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>C++</li>
            <li>.NET</li>
            <li>PLSQL</li>
            <li>TSQL</li>
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div data-aos="fade-right" class="cd-timeline-content">
            <h2>Rapid Information</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                System Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Juni 2002 - Juni 2004
              </span>
            </div>
            <p>Arbetade som konsult inom systemutveckling och databaser.</p>
            <button  class="pulse" onclick="showDialog(7)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>C++</li>
            <li>ASP</li>
            <li>.NET</li>
            <li>PLSQL</li>
            <li>TSQL</li>
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div data-aos="fade-left" class="cd-timeline-content">
            <h2>Active Media Group</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                System Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Juni 1999 - Maj 2002
              </span>
            </div>
            <p>Arbetade med att utveckla spel i samarbete med flera TV-kanaler. Spelen hade fokus på barn och "lek och lärande".</p>
            <button  class="pulse" onclick="showDialog(9)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>C++</li>
            <li>3D</li>
            <li>TeamLead</li>
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div data-aos="fade-right" class="cd-timeline-content">
            <h2>Intentia Consulting</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                System Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Februari 1997 - Juni 1999
              </span>
            </div>
            <p>Arbetade som konsult inom utveckling av anpassningar av affärsystem för företag samt utbildare inom Java.</p>
            <button  class="pulse" onclick="showDialog(10)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>Java</li>
            <li>RPG/400</li>
            <li>M3</li>
            <li>C++</li>
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div data-aos="fade-left" class="cd-timeline-content">
            <h2>FUNCOM</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Game Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Juli 1994 - Januari 1997
              </span>
            </div>
            <p>Arbetade som spelutvecklare som bland annat utvecklade spel för företag som Nintendo och Acclaim.</p>
            <button  class="pulse" onclick="showDialog(11)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>C</li>
            <li>C++</li>
            <li>Assembler</li>
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
        </div> <!-- cd-timeline-img -->

        <div data-aos="fade-right" class="cd-timeline-content">
            <h2>Toshi Software</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                Game Developer
              </span>
              <span class="timeline-content-info-date">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                Januari 1991 - Juni 1993
              </span>
            </div>
            <p>Egenföretagare som utvecklade "lek och lär"-spel för barn och handikappade.</p>
            <button  class="pulse" onclick="showDialog(12)">Tryck för mer info</button> 
            <ul class="content-skills">
            <li>C++</li>
            </ul>			
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->

