<h4>Utvalda projekt</h4>
<div id="btxt">
    <h2>Blackbox</h2>
    <p>Initierat, designat och utvecklat Operativsystemet för Blackbox B5000 för Botek. B5000 är en liten uppkopplad Linux-dator som installeras på lastbilar runt om i världen. Operativsystemet bygger i grunden på Linux Ångström Distributionen och är skräddarsydd för att köra Boteks Helios som även den behövde anpassas för att fungera i en blackbox. En viktig poäng med B5000 var att den skulle samla in data och därför så var integrationerna viktiga. Andra viktiga bitar var att systemet skulle kunna underhållas remote och även kunna uppdateras med nya mjukvara eller operativsystem. Tekniker som användes var bland annat: Linux, Mono, Embedded, C++, Crosscompilers, integrationer</p>
    <img src="./assets/b5000.png" alt="B5000 Software" style="height:200px;"> 
    <br><br>    
    <h2>Helios</h2>
    <p>Initierat, designat samt utvecklat HeliosWeb för Botek. HeliosWeb är en webbportal som används av Boteks kunder men även av Boteks egna tekniska support. Med hjälp av portalen så kan man bland annat se lastbilars vägningar i realtid och förstås även historiskt. Man kan även få detaljerad information om hur utrustning i alla uppkopplade bilar mår. Portalen utvecklades bland annat med C#, WCF, Telerik Kendo, MVC, MariaDB</p>
    <img src="./assets/helios.png" alt="HeliosWeb for Botek" style="height:200px;"> 
    <br><br>    
    <h2>Wintergold</h2>
    <p>Jag utvecklade tillsammans med ett team, spelet WinterGold för Super Nintendo 1994-1995. Spelet som beställdes och gavs ut under Nintendo namn och innehöll en för den tiden avancerad realtids-3D i spelet. Detta kunde åstadkommas genom ett så kallat FX2-chip i Spelkassetterna samt genom avancerade algoritmer för uppackning av förberäknad data.</p>
     <img src="./assets/wintergold.png" alt="Wintergold for SNES" style="height:200px;"> 
    <br>    
    <button  class="pulse" onclick="showDialog('%')">Visa alla projekt</button> 
</div>       