<div id="btxt">
    <h2>Hej!</h2>
    <p>Jag är en kille född 1971 lagom till tiden när hemdatorerna blev populära. Dessa blev min hobby och de ledde de mig till mitt nuvarande yrke som systemutvecklare.</p><br><p>Idag bor jag i en central villa i Västervik och har numera byggt upp en lång erfarenhet genom många olika typer av programmeringsuppdrag. Jag har haft turen att få jobba med många olika sidor av programmeringen, exempelvis spelutveckling, webbutveckling, affärssystem, integrationer, GIS, BIM, Augmented Reality, Android, IOT, Inbyggda system, Linux, Java, C++, C# etc. Jag har även kommit i kontakt med ett stort antal databastyper vid utveckling. Några exempel är MS SQL, Oracle, DB2, PostgreSQL, MySql. Det kan dock påpekas att mitt intresse av programmering går dock långt utanför arbetets ramar.</p>
    <p>Jag älskar verkligen att lära mig nya saker och det är nog oxå det som har blivit min drivkraft för programmering. </p><p>Arkitekturen av hur man bygger solida system är något som jag på senare år har blivit väldigt intresserad av.</p><br><p>
    Min fritid ägnar jag mest åt min familj som består av fru och tre döttrar. Mina två älsta döttrar har flyttat hemifrån och bildat egna familer och jag har nu även två barnbarn. Utöver familj så går mesta tiden åt för vårt hus och alla våra husdjur.
    </p>
    
    <br>    
</div>
