<div id="container">    
    <canvas id="canvas">Canvas not supported.</canvas>
    <div id="overlay"> 
        <div style="min-height: 100vh;">
            <app-title></app-title>
            <br><br>
            <app-presentation></app-presentation>
            <br><br>  
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <app-timeline></app-timeline>
        <br><br>
        <app-competence></app-competence>
        <br><br>
        <app-projects></app-projects>
        <br><br>
        <app-contact></app-contact>
        <br><br>
    </div>
</div>