* {
    margin: 0;
    padding: 0;
    color: #FFF;
  }
  
  canvas#canvas {
    display: block;
    background: #202020;
    position: fixed !important;
  }
  
  ul#navigation {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: center;
    font-size: 0.8rem;
  }
  
  ul#navigation>li {
    display: inline-block;
  }
  
  
  #container {
    position: relative;
  }
  #container canvas, #overlay {
    position: absolute;
      
  }
  canvas {
    border: 1px solid black;
  }
  
  
  h1 {
      font-size: 50px !important;
  }
  
  h2 {
      font-size: 32px !important;
  }
  
  h3 {
      font-size: 25px !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
      font-family: Avenir Next, SegoeUI, arial, sans-serif !important;
      font-weight: 400;
      margin: 10px 0;
  }
  
  p {
      font-family: "Georgia Pro", Georgia, Times, 'Times New Roman', serif !important;
     font-size: 22px !important; 
  }
  
  .row {
      font-family: "Georgia Pro", Georgia, Times, 'Times New Roman', serif !important;
     font-size: 22px !important; 
  }
  
  #overlay {
    top: 50%;
    margin-right: -200px;
    margin: 100px 150px 0 150px;  
  }
  
  #btxt{
      background: rgba(51, 60, 66, 0.55);
      padding: 1em 2em;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .checked {
    color: mediumpurple;
  }
  
  
  .head-background{
      background-color: rgba(51, 60, 66, 0.55);
  }
  
  
  .row-background{
      background-color: rgba(51, 60, 66, 0.55);
      text-align: left;
  }
  
  /* Arrow animation */

.arrow{
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid mediumpurple;
    border-right: 5px solid mediumpurple;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

