<div id="container">    
    <canvas id="canvas">Canvas not supported.</canvas>    
    <script>
        var canvas = document.getElementById('canvas');
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
    </script>
    

    <div id="overlay"> 
        <div style="min-height: 100vh;">
            <app-title></app-title>
            <br><br>
            <app-presentation></app-presentation>
            <br><br>  
            <div style="cursor:pointer" class="arrow" (click)="jumpforward()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <app-timeline id="jumphere"></app-timeline>
        <br><br>
        <app-competence></app-competence>
        <br><br>
        <app-projects></app-projects>
        <br><br>
        <app-contact></app-contact>
        <br><br><br><br>
    </div>
</div>

